<body>
<% include ../partial/header %>

<div class="row">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="white">Update a Training Course</h1>
    <div class="grid-container">
        <% res1.forEach(function(training) {%>
            <form accept-charset="UTF-8" action="/edit/<%= training.trainingRef %>" method="post">
                <div class="item">



                    <label for="trainingRef">Training Ref:</label>
                    <input name="trainingRef" type="text" value="<%= training.trainingRef %>" />

                    <label for="deptId">Id:</label>
                    <input name="deptId" type="text" value="<%= training.deptId %>" />

                    <label for="type">Type:</label>
                    <input name="type" type="text" value="<%= training.type %>" />

                    <label for="location">Locations:</label>
                    <input name="location" type="text" value="<%= training.location %>" />

                    <label for="fromDate">From Date:</label>
                    <input name="fromDate" type="text" value="<%= training.fromDate %>" />

                    <label for="todate">To Date:</label>
                    <input name="todate" type="text" value="<%= training.todate %>" />
<br>
                    <button class="button">Edit Training</button>
                    <br>
                </div>
            </form>
        <% }); %>
    </div>
    <br>
    <br>
    <br>

</div>
<br>
<br>

    <% include ../partial/footer %>
</body>