<body background="../dino.jpg" width="1280px" height="1200px">   
    <% include ../partial/header %>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
        <!--my page info goes here-->
        <div class="row">
              <div class="container2">
                  <ul class="nobull">
                      <li><label for="task id">Task Id:&nbsp;</label><%= tasks[c].id %></li> 
                      <li><label for="type">Type:&nbsp;</label><%= tasks[c].type %> </li> 
                      <li><label for="description">Description:&nbsp;</label><%= tasks[c].description %></li>
                      <li><label for="priority">Priority:&nbsp;</label><%= tasks[c].priority %> </li> 
                      <li><label for="time">Time:&nbsp;</label><%= tasks[c].time %></li>
                      
                      <br>
                      <br>
                      <li><a href="/tasklist">Back to Tasklist</a></li>
                      <br>                  
                   </ul>
              </div>
        </div>
  <br>
  <br>
  <br> 

   <% include ../partial/footer %>
 </body>
