
<% include ../partial/header %>
<body>
<% include ../partial/nav %>
<br>
<br>

<head>
    <title>Intern task update Page</title>
    <link rel="stylesheet" href="../app.css" type="text/css">
</head>
<div class="grid-container2">

    <% indOne.forEach(function(tasks) { %>
        <H1 class="center">Update Task <%= tasks.id %></H1>

        <form action="/taskupdate/<%= tasks.id %>" method="post">
            <div class="item">
                <label for="id" name="id" class="clear">Id: <%= tasks.id %></label>
                <br />
                <input name="newId" type="text"  value="<%= tasks.id %>" style="display: none;"/>
                <br />
                <label for="name" class="clear">Type:</label>
                <br />
                <input name="newType" type="text" value="<%= tasks.type %>"/>
                <br />
                <label for="priority" class="clear">Priority:</label>
                <br />
                <input name="newPriority" type="text"  value="<%= tasks.priority %>"/>
                <br />
                <label for="description" class="clear">Description:</label>
                <br />
                <input name="newDescription" type="text" value="<%= tasks.description %>" />
                <br />
                <label for="time" class="clear">Time:</label>
                <br />
                <input name="newTime" type="text" value="<%= tasks.time %>" />
                <br />
                <button>Update</button>
            </div>
        </form>

    <% }); %>
</div>

<br>
<br>
<br>
<br>

<% include ../partial/footer %>
</body>

<!--<%# include ../partial/header %>-->
<!--<body>-->
<!--<%# include ../partial/nav %>-->


<!--<head>-->

<!--    <title>Task Update Page</title>-->
<!--    <link rel="stylesheet" href="../app.css" type="text/css">-->
<!--</head>-->

<!--<h1 class="center">Scheduling</h1>-->


<!--<a href="/tasklist" class="button">&nbspSee Task List</a>-->
<!--<br>-->
<!--<br>-->
<!--<div class="grid-container2">-->

<!--    <form accept-charset="UTF-8" action="/addtask" method="POST">-->
<!--        <div class="item">-->
<!--            <label for="task id" class="clear">Task Id:</label>-->
<!--            <input name="task id" type="text" minlength="1" placeholder="Please enter your name" ,-->
<!--                   title='Please enter your name' , required/>-->
<!--            <br>-->
<!--            <label for="type" class="clear">Type:</label>-->
<!--            <input name="type" type="text" placeholder="Please enter the type of task" , title='Correct email Format' ,-->
<!--                   required/>-->
<!--            <br>-->
<!--            <label for="description" class="clear">Description:</label>-->
<!--            <input name="description" type="text" minlength="10" placeholder="Please enter task details" ,-->
<!--                   pattern='[a-zA-Z][a-zA-Z ]{4,}' , title='Did you forget your Comment' , required/>-->
<!--            <br>-->
<!--            <label for="priority" class="clear">Priority:</label>-->
<!--            <input name="priority" type="text" placeholder="priority level....." title='indicate the priority level' , required/>-->
<!--            <br>-->
<!--            <label for="time" class="clear">Time:</label>-->
<!--            <input name="time" type="text" placeholder="to be done by....." title='what is the time frame' , required/>-->
<!--            <br>-->
<!--            <button formaction="/Addtask" type="submit">Add Task</button>-->
<!--        </div>-->


<!--    </form>-->
<!--    <br>-->
<!--</div>-->


<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->


<!--</div>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<%# include ../partial/footer %>-->
<!--</body>-->



<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="grid-container2">&ndash;&gt;-->

<!--&lt;!&ndash;    <%# indOne.forEach(function(tasks) { %>&ndash;&gt;-->
<!--&lt;!&ndash;        <H1 class="center">Update Task <%#= tasks.id %></H1>&ndash;&gt;-->

<!--&lt;!&ndash;        <form action="/taskupdate/<%#= tasks.id %>" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="id" name="id" class="clear">Id: <%#= tasks.id %></label>&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <input name="newId" type="text"  value="<%#= tasks.id %>" style="display: none;"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="name" class="clear">Type:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <input name="newType" type="text" value="<%#= tasks.type %>"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="priority" class="clear">Priority:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <input name="newPriority" type="text"  value="<%#= tasks.priority %>"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="description" class="clear">Description:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <input name="newDescription" type="text" value="<%#= tasks.description %>" />&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="time" class="clear">Time:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <input name="newTime" type="text" value="<%#= tasks.time %>" />&ndash;&gt;-->
<!--&lt;!&ndash;                <br />&ndash;&gt;-->
<!--&lt;!&ndash;                <button>Update</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->

<!--&lt;!&ndash;    <%# }); %>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->

<!--&lt;!&ndash;<%# include ../partial/footer %>&ndash;&gt;-->

